%div.container.proto-new
  = form_for(@proto) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title, autofocus: true, placeholder: "Title"

        .row
          .col-md-12
            .cover-image-upload
              = f.fields_for :image do |image|
                = image.file_field :image, onChange: "javascript: main_image_preview();", id: "main-image"
                = image.hidden_field :status, value: :main
            #main-preview.thumbnail

          .col-md-12
            %ul.proto-sub-list.list-group
              %li.list-group-item.col-md-4
                #sub1-upload.image-upload
                  = f.fields_for :images do |image|
                    = image.file_field :image, onChange: "javascript: sub1_image_preview();", id: "sub1-image"
                    = image.hidden_field :status, value: :sub1
                #sub1-preview.thumbnail

              %li.list-group-item.col-md-4
                #sub2-upload.image-upload
                  = f.fields_for :images do |image|
                    = image.file_field :image, onChange: "javascript: sub2_image_preview();", id: "sub2-image"
                    = image.hidden_field :status, value: :sub2
                #sub2-preview.thumbnail

              %li.list-group-item.col-md-4
                .image-upload-plus
                  %span +

      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch copy"

        .col-md-12
          = f.text_field :concept, cols: "30", rows: "4", placeholder: "Concept"

        .col-md-12
          %h4
            Tag List
          .row
            .col-md-3
              = text_field_tag "tags[]", "", id: "prototype_tag_list", placeholder: "Web Design"

            .col-md-3
              = text_field_tag "tags[]", "", id: "prototype_tag_list", placeholder: "UI"

            .col-md-3
              = text_field_tag "tags[]", "", id: "prototype_tag_list", placeholder: "Application"

      .row.text-center.proto-btn
        = f.submit value: 'Publish', class: "btn btn-lg btn-primary btn-block"
