.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@proto.user.avatar, alt: "64x64", class: "media-object", style: "width: 64px; height: 64px;", data: { src: "holder.js/64x64" }, data: { holder: { rendered: "true" } }), user_path(@proto.user)
        .media-body
          %h4.media-heading#top-aligned-media
            =  @proto.title
          .proto-user
            by
            = link_to @proto.user.username, user_path(@proto.user)
          %span.degree
            = @proto.user.profile
    .col-md-6.text-right
      #like-buttons
        = render partial: "/likes/like", locals: { proto: @proto, likes: @likes, like: @like }

  .row
    .col-md-9
      = link_to image_tag(@proto.images.main.first.image), proto_path(@proto), class: "img-responsive thumbnail"
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = link_to image_tag(@proto.images.sub1.first.image), proto_path(@proto), class: "img-responsive thumbnail"
        %li.list-group-item
          = link_to image_tag(@proto.images.sub2.first.image), proto_path(@proto), class: "img-responsive thumbnail"

  .row.proto-description
    .col-md-3
      %h4
        Catch Copy
      %p
        = @proto.catch_copy
    .col-md-6
      %h4
        Concept
      %p
        = @proto.concept
    .col-md-3
      %h4
        Tag List
      %ul.proto-tag-list.list-inline
        - @proto.tag_list.each do |tag|
          %li
            = link_to tag, tag_path(tag), class: "btn btn-default"

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
        = @comments.count
    .col-md-8#comment_area
      #comment_list
        = render partial: "comments/comment", collection: @comments
      .form-inline
        = form_for @comment, remote: true do |f|
          %h4
            Write a comment
          .row
            .form-group.col-md-10
              = f.text_field :text, placeholder: "Your comments", rows: "3", id: "comment_text", class: "textform-control"
              = f.hidden_field :proto_id, value: @proto.id
            .form-group.col-md-2
              = f.submit "Comment", class: "btn btn-primary"
