.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      = link_to "View Tags", tags_path, class: "btn btn-default col-lg-1"

.container.proto-list
  .row
    - @protos.each do |proto|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to image_tag(proto.images.main.first.image), proto_path(proto)
          .caption
            %h3
              = proto.title
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                %time
                  = time_ago_in_words proto.created_at
            %ul.proto-tag-list.list-inline
              - proto.tag_list.each do |tag|
                %li
                  = link_to tag, tag_path(tag), class: "btn btn-default"

.text-center
  %ul.pagination
    %li.disabled
      = link_to "«", "#", aria: {label: "Previous"}, aria: {hidden: "true"}
    %li.active
      %a{href: "#"}
        1
        %span.sr-only (current)
    %li
      %a{href: "#"} 2
    %li
      %a{href: "#"} 3
    %li
      %a{href: "#"} 4
    %li
      %a{href: "#"} 5
    %li
      = link_to "»", "#", aria: {label: "Next"}, aria: {hidden: "true"}
